/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generali */

.container {
  margin: 0 auto;
  width: 1300px;
}

.navbar,
footer {
  background-color: rgba(38, 145, 198, 0.622);
  height: 80px;
  display: flex;
  align-items: center;
  color: white;
}

.home-page h2,
.about-us h2,
.products-list-title {
  text-align: center;
  margin: 20px 0;
}

.home-page p,
.about-us p,
.products-container {
  margin: 40px 0;
}


/* NAVBAR */

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a.active {
  font-weight: bold;
  color: rgb(38, 145, 198);
}


/* LISTA CARDS PRODOTTI */

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.product-card {
  background-color: rgba(38, 145, 198, 0.622);
  padding: 20px;
  width: calc(100% / 4 - 20px);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product-card p {
  margin: 10px 0;
}

.product-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 20px;
  object-fit: contain;
  background-color: rgba(232, 232, 237, 0.656);
}

.product-title,
.product-price {
  font-weight: bold;
}

.product-category {
  font-style: italic;
}

/* DETTAGLI PRODOTTO */

.product-detail-title {
  text-align: center;
  margin: 20px 0;
}

.product-detail-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.135);
  padding: 40px;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  border-radius: 50px;
}

.detail-img {
  background-color: white;
  width: 100%;
  border-radius: 50px;
}

.detail-img img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.detail-info {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-return,
.btn-details {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50px;
}